#main-header {
    padding: 30px 20px;
    .container {
        @include flex-between;
    }

    #brand {
        @include flex-center;
        @include svg-default;
    }

    #learn-more {
        @include flex-center;
        background-color: $gray;
        color: $light;
        padding: 4px 12px;
        font-size: 28px;
        font-weight: 700;
        max-height: 45px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background: $light;
            color: $gray;
        }
    }
}

#main-content {
    padding: 40px 0;
    .projects {
        h2 {
            @include dotted-line;
        }

        .project {
            @include flex-center;
            flex-direction: column;
            gap: 15px;
            padding: 40px 10px;
            @include dotted-line;

            svg {
                @include svg-default;
            }

            .description {
                text-align: center;
                color: $gray;
                font-size: 14px;
            }
        }
    }

    .videos {
        padding: 20px 0;
    }
}

#main-footer {
    padding: 20px;
    @include flex-center;

    .socials {
        @include flex-row-y-center;
        gap: 25px;

        .social-link {
            transition: opacity .2s;

            &:hover {
                opacity: .6;
            }

            svg {
                width: 25px;
                height: 25px;
                color: $light;
            }
        }
    }
}