@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row-y-center {
    display: flex;
    align-items: center;
}

@mixin flex-column-y-center {
    display: flex;
    justify-content: center;
}

@mixin dotted-line {
    border-bottom: 2px dashed $gray;
}

@mixin header-space {
    padding: 30px 20px;
}

@mixin svg-default {
    width: 160px;
    height: 50px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.dotted-line {
    @include dotted-line
}

.section-title {
    font-size: 24px;
    color: $gray;
    text-align: center;
    padding: 30px 0;
}

.description {
    color: $gray;
    font-size: 18px;
}