@mixin small-screen {
    @media (max-width: $small-screen) {
      @content;
    }
}
  
@mixin medium-screen {
    @media (max-width: $medium-screen) {
        @content;
    }
}
  
@mixin large-screen {
    @media (max-width: $large-screen) {
      @content;
    }
}

@mixin small-screen-height {
    @media (max-height: $small-screen-height) {
        @content;
      }
}

@mixin medium-screen-height {
    @media (max-height: $medium-screen-height) {
        @content;
      }
}

@mixin large-screen-height {
    @media (max-height: $large-screen-height) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row-y-center {
    display: flex;
    align-items: center;
}

@mixin flex-column-y-center {
    display: flex;
    justify-content: center;
}

@mixin dotted-line {
    border-bottom: 2px dashed $gray;
}

@mixin header-space {
    padding: 30px 20px;

    @include small-screen-height {
        padding: 25px 20px;
    }
}

@mixin svg-default {
    width: 160px;
    height: 50px;

    @include small-screen {
        width: 135px;
        height: 40px;
    }
}

@mixin paragraph-banner {
    p {
        font-size: 14px;
        padding: 10px 0;

        @include small-screen-height {
            padding-bottom: 5px;
            font-size: 12px;
        }
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.dotted-line {
    @include dotted-line
}

.section-title {
    font-size: var(--fs-200);
    color: $gray;
    text-align: center;
    padding: 30px 0;

    @include small-screen {
        padding: 20px 0;
    }
}

.description {
    color: $gray;
    font-size: var(--fs-100);
}