
$type-scale: (
  sm: (
    100: 12px,
    200: 14px,
    300: 16px,
    400: 20px,
    500: 24px,
    600: 28px,
    700: 32px
  ),
  md: (
    100: 16px,
    200: 18px,
    300: 20px,
    400: 24px,
    500: 28px,
    600: 32px,
    700: 36px
  ),
  lg: (
    100: 20px,
    200: 22px,
    300: 24px,
    400: 28px,
    500: 32px,
    600: 36px,
    700: 40px
  )
);

$small-screen: 767px;
$medium-screen: 992px;
$large-screen: 1200px;

$small-screen-height: 520px;
$medium-screen-height: 980px;
$large-screen-height: 1500px;

$dark:#0C0C0C;
$light:#fff;
$gray:#5B5B5B;

// Responsive
:root {
    @each $screen-size, $sizes in $type-scale {
      @if $screen-size == sm {
        @each $key, $value in $sizes {
          --fs-#{$key}: #{$value};
        }
      } @else if $screen-size == md {
        @media (min-width: 768px) {
          @each $key, $value in $sizes {
            --fs-#{$key}: #{$value};
          }
        }
      } @else {
        @media (min-width: 1200px) {
          @each $key, $value in $sizes {
            --fs-#{$key}: #{$value};
          }
        }
      }
    }
}